body {
    background-image: url('../../public/img/corkboard.jpg');
    padding:0;
    margin:0;
    height:100vh;
    width:100vw;
    overflow:hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}