<link rel="import"
      href="../bower_components/polymer/polymer.html">
<link rel="import" href="../behaviors/drop-behavior.html">
<link rel="import" href="../behaviors/drawing-behavior.html">

<dom-module id="bulletin-area">

    <!-- scoped CSS for this element -->
    <style>
        :host {
            position:absolute;
            width:100vw;
            height:100vh;
        }

        :host ::content canvas {
            position:absolute;
            width:100vw;
            height:100vh;
        }

        :host ::content div {
            z-index: 1;
        }

    </style>

    <template>
        <canvas>

        </canvas>
        <div>
            <!-- any children are rendered here -->
            <content></content>
        </div>
    </template>

    <script>
        Polymer({

            is: "bulletin-area",

            behaviors: [DropBehavior, DrawingBehavior]

        });
    </script>

</dom-module>