<link rel="import"
      href="bower_components/polymer/polymer.html">
<link rel="import" href="../behaviors/highlight-behavior.html">
<link rel="import" href="../behaviors/drag-drop-behavior.html">

<dom-module id="image-icon">

    <!-- scoped CSS for this element -->
    <style>

        :host {
            height:35px;
            width: 42px;
            margin-right:35px;
            color: #3c3e3e;
            font-weight: bold;
            display: inline-block;

            border: 5px solid white;
            border-bottom:16px solid white;

            position: relative;

            top:-110px;

            -ms-transform: rotate(-4.9deg); /* IE 9 */
            -webkit-transform: rotate(-4.9deg); /* Chrome, Safari, Opera */
            transform: rotate(-4.9deg);

            background: #202020;

            /* Firefox */
            -moz-transition: box-shadow 0.15s ease;
            /* WebKit */
            -webkit-transition: box-shadow 0.15s ease;
            /* Opera */
            -o-transition: box-shadow 0.15s ease;
            /* Standard */
            transition: box-shadow 0.15s ease;

        }

        :host::after {
            position:relative;
            display:block;
            top:70px;
            height:20px;
            width:50px;
            content: "";
            background-color:rgba(74,74,74,0.5);
            border-radius:50%;
            box-shadow: 0 0 20px #555555;

            /* Firefox */
            -moz-transition: background-color 0.15s ease, box-shadow 0.15s ease;
            /* WebKit */
            -webkit-transition: background-color 0.15s ease, box-shadow 0.15s ease;
            /* Opera */
            -o-transition: background-color 0.15s ease, box-shadow 0.15s ease;
            /* Standard */
            transition: background-color 0.15s ease, box-shadow 0.15s ease;

        }

        :host.highlighted {
            box-shadow: 5px 5px 13px #22BBFF, 0 0 2px #22BBFF inset;
        }

        :host.highlighted::after {
            background-color:rgba(34,187,255,0.5);
            box-shadow: 0 0 20px #22BBFF;
        }

    </style>

    <template>
        <div>
            <!-- any children are rendered here -->
            <content></content>
        </div>
    </template>

    <script>
        Polymer({

            is: "image-icon",

            behaviors: [HighlightBehavior, DragDropBehavior],

            _dataTransfer: function (event) {

                var dataTransferObj = {
                    component: 'polaroid-picture'
                };

                event.dataTransfer.setData('application/json', JSON.stringify(dataTransferObj));

            }

        });
    </script>

</dom-module>