<link rel="import"
      href="../bower_components/polymer/polymer.html">

<dom-module id="item-tray">

    <!-- scoped CSS for this element -->
    <style>
        :host {
            position:absolute;
            width:60%;
            height:80px;
            top: calc(100% + 100px);
            left: 20%;
            background-color:rgba(74,74,74,0.5);

            -ms-transform: perspective(80px) rotateX(15deg); /* IE 9 */
            -webkit-transform: perspective(80px) rotateX(15deg); /* Chrome, Safari, Opera */
            transform: perspective(80px) rotateX(15deg);

            /* Firefox */
            -moz-transition: top 0.4s ease;
            /* WebKit */
            -webkit-transition: top 0.4s ease;
            /* Opera */
            -o-transition: top 0.4s ease;
            /* Standard */
            transition: top 0.4s ease;

        }

        :host::after {

            position:absolute;
            content:"";
            width:80%;
            height:10px;
            top: calc(100% - 70px);
            left: 10%;

            background-color:rgba(74,74,74,0.7);
            border-radius:20px;

            box-shadow: 5px 5px 13px rgba(74,74,74,0.7), 0px 0px 2px rgba(74,74,74,0.7) inset;
        }

        :host.visible {
            top: calc(100% - 100px);
        }

    </style>

    <template>
        <div>
            <!-- any children are rendered here -->
            <content></content>
        </div>
    </template>

    <script>
        Polymer({
            is: "item-tray",

            properties: {
                isVisible: {
                    type: Boolean,
                    value: false,
                    notify: true,
                    observer: '_isVisible'
                }
            },

            _isVisible: function (value) {
                this.toggleClass('visible', value);
            }

        });
    </script>

</dom-module>